<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.Name %>
</p>

<p>
  <b>City:</b>
  <%= @account.City__c %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
